body {
background-color: #caedf8;
}

hr {
border-color: gray; border-style: none; border-top-style: dotted; border-width: 4px; width: 10%;
}

h1 {
color: #976406ea;
}

h3 {
color: #7a0445;
}